.discover-view .places-heading{
  font-size: 14px;
  padding-left: 10px;
  color: #8c8c8c;
}
.discover-view .discover-places-list .item {
  border: 0px;
  width: 120%;
  padding-bottom: 18px;
}
.discover-view .discover-places-list .item .item-name {
  font-size: 17px;
  width: 80%;
  font-weight: 600;}
.discover-view .discover-places-list .item .distance{
  font-weight: 100;}
.discover-view .discover-places-list .item .button {
  padding-right: 10px;
  padding-left: 10px;
  top: 15px;
  right: 0px;
  font-size: 12px;
  font-weight:600;
  border-radius: 15px;
  text-align: center;
}
